$blue: #4E89BB;
$blue-banner: rgba(0,51,102,0.7);
$black: #221F1F;
$gray: #555757;
$white: #FFF;


$slab: "museo-slab", "georgia", serif;
$demi: "franklin-gothic-urw", "tahoma", sans-serif;
$demi-compressed: "franklin-gothic-urw-comp", "tahoma", sans-serif;


$small-width: max-width 420px;
$small-width-em: 20em;

$medium-width: max-width 760px;
$medium-width-em: 48em;

$large-width: max-width 960px;
$large-width-em: 60em;

$xlarge-width: max-width 1280px;
$xlarge-width-em: 80em;







