$blue: #4E89BB;
$black: #221F1F;
$gray: #555757;
$white: #FFF;


$slab: "museo-slab", "georgia", serif;
$demi: "franklin-gothic-urw", "tahoma", sans-serif;
$demi-compressed: "franklin-gothic-urw-comp", "tahoma", sans-serif;


/*
$media-lg: max-width 1000px;
$media-md: min-width 800px;
$media-sm
*/


