$blue: #4E89BB;
$blue-banner: rgba(0,51,102,0.7);
$black: #221F1F;
$gray: #555757;
$white: #FFF;


$slab: "museo-slab", "georgia", serif;
$demi: "franklin-gothic-urw", "tahoma", sans-serif;
$demi-compressed: "franklin-gothic-urw-comp", "tahoma", sans-serif;


$breakpoint-small-width: 320px;
$breakpoint-small-width-em: 20em;

$breakpoint-medium-width: 760px;
$breakpoint-medium-width-em: 48em;

$breakpoint-large-width: 960px;
$breakpoint-large-width-em: 60em;

$breakpoint-xlarge-width: 1280px;
$breakpoint-xlarge-width-em: 80em;







