.index .banner .banner-box{
	margin: 6% 0;
}


.banner{
	margin: 0;
	height: 560px;
	overflow: hidden;
	text-align: center;
	
	img{
		width: 100%;
		height: auto;
	}
	
	.banner-box{
		background-color: $blue;
/* 		opacity: .5; */
		margin: 12% 0;
		position: absolute;
		z-index: 10;
		padding: 2% 0;
		
		.tag{
			padding-top: 20px;
		}
	
	
		.rule{
			border-bottom: 1px $white solid;
		}
	
	}
	


}
