.index .banner .banner-box{
	margin: 6% 0;
}


.banner{
	margin: 0;
	height: 560px;
	overflow: hidden;
	text-align: center;
	position: relative;
	
	.banner-box{
		background-color: $blue-banner;
		margin: 4% 0;
		height: 60%;
		position: absolute;
		z-index: 10;
		padding: 2% 0;
		}
	.banner-txt {
		margin: 20px;
	}
	.rule{
		border-bottom: 1px $white solid;
		}
}
.index{
	.banner{
		background-image: url(../../images/city.jpg);
		background-size: cover;
	}
}