.connect-slides{
	width: 100%;
	
	img{
		width: 100%;
	}
}


#slides{
	display: none;
}


.slidesjs-pagination {
    float: right;
    list-style: none outside none;
    margin: 7px 0 0;
}
.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
    line-height: 100px;
}
.slidesjs-pagination li a {
    background-image: url("/images/stars.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 15px;
    overflow: hidden;
    padding-top: 13px;
    width: 29px;
}
.slidesjs-pagination li a.active, .slidesjs-pagination li a.active:hover {
    background-position: -29px 0;
}
.slidesjs-pagination li a:hover {
    background-position: -58px 0;
}

.content-padding{
	height: auto;
}


.page-margin{
	margin-bottom: 5em;


}

.black-rule{
	border-bottom: 1px $black solid;
	margin: .80em 0 .80em 0;

}

.style-box{
	background: $blue;
	line-height: 2.8em;
}

.form-box{
	border: .20em $blue solid;
	padding: .30em .40em .30em .40em;
	margin: .35em .1em .35em .1em;
	max-width: 8em;
}