.blue-star{
	position: absolute;
	left: 40%;
	top: 74%;
	width: 15%;
}

.black-rule{
	border-bottom: $black 1px solid;
}

.main-content{
	background-color: $white;
}

.content-section{
	margin: 4.3em 0 4.3em 0;
}

a{
	text-decoration: none;
}