.connect-slides{
	width: 100%;
	
	img{
		width: 100%;
	}
}


#slides{
	display: none;
}

.content-padding{
	height: auto;
}


.page-margin{
	margin-bottom: 5em;


}

.black-rule{
	border-bottom: 1px $black solid;
	margin: .80em 0 .80em 0;

}

.style-box{
	background: $blue;
	line-height: 2.8em;
}

.form-box{
	border: .20em $blue solid;
	padding: .30em 0 .30em .30em;
	margin: .30em .1em .30em .1em;
	max-width: 8em;
}