.blue-bar{
	border-top: solid .2em $blue;
	border-width-top: inherit;
	display: inline-block;
}

.connect-slides{
	width: 100%;
	margin-top: 1em;
	
	img{
		width: 100%;
	}
}

#slides{
	display: none;
}

.slidesjs-navigation, .slidesjs-stop, .slidesjs-play {
	display: none;
}


.slidesjs-pagination {
    float: right;
    list-style: none outside none;
    margin: 7px 0 0;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
    line-height: 100px;
}

.slidesjs-pagination li a {
    background-image: url("/images/stars.png");
    background-position: -29px 0;
    display: block;
    float: left;
    height: 15px;
    overflow: hidden;
    padding-top: 13px;
    width: 29px;
}

.slidesjs-pagination li a.active, .slidesjs-pagination li a.active:hover {
    background-position: 0 0;
}

.slidesjs-pagination li a:hover {
    background-position: 0 0;
}

.photoTag{
	background-color: $blue;
	color: $white;
	font-family: $demi-compressed;
	text-transform: uppercase;
	margin: 0;
	font-size: 2em;
	text-align: center;
}

.main-content .intro-txt{
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.content-padding{
	height: auto;
}


.page-margin{
	margin-bottom: 5em;
}

.black-rule{
	border-bottom: 1px $black solid;
	margin: .80em 0 .80em 0;

}

.style-box{
	background: $blue;
	line-height: 2.8em;
}

.style-box-black{
	background: $black;
	line-height: 2.8em;
}

.form-box{
	border: .20em $blue solid;
	padding: .30em .40em .30em .40em;
	box-sizing: border-box;
	margin-bottom: .80em;
}

input{
	border: none;
	background-color:rgba(255,255,255,0);
	}
	
form {
	width: 100%;
	margin-left: -50px;
}
form ul li {
	list-style: none;
}	

form ul{
	margin: 0;
}	

.form-box{
	margin-left: 1.999%;
	width: 48%
	
}
.hide {
	border: none;
	background-color:rgba(255,255,255,0);
}
.rsvp-button {
	width: 100%;
	margin-top: 2%;
}

.float {
	float: left;
}