.blue-star{

}

.intro-txt{
/* 	margin: 12% 0% 3%; */
}

.black-rule{
	border-bottom: $black 1px solid;
}

.main-content{
	background-color: $white;
}

.content-section{
	margin: 4.3em 0 4.3em 0;
}

a{
	text-decoration: none;
}