.intro{
	position: relative;
}

.blue-star{
	width: 100%;
	margin: -40px 0 0 0;
	position: absolute;
}

.black-rule{
	border-bottom: $black 1px solid;
}

.blue-rule{
	border-top: $blue .3em solid;
}


a{
	text-decoration: none;
}

