nav{
	height: 65px;
	padding: 15px 0 10px 0;
	text-align: right;	
	img{
		width: 100%;
		height: auto;
	}
	.nav-links{
		margin: 25px 0 0 0;
	}
	
	.active{
			border-top: solid .2em $blue;
	}
	
	@include breakpoint($small-width){
		nav{
			height: 100%;
		}
		
		.nav-links{
			display:none;
		}
		
		.active{
			border-top: solid .2em $blue;
		}
	}

}



