body{
	font-size: 100%;
}

/* nav, banner and intro */

.nav-link{
	color: $blue;
	font-size: 1.1em;
	font-family: $demi;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 2% 0 0;
	letter-spacing: 0.5px;
	font-weight: 500;
}
.nav-link:hover{
	border-top: solid .2em $blue;
}

.donate-link{
	color: $white;
	font-size: 1em;
	font-family: $demi;	
	text-decoration: none;
	text-transform: uppercase;
	background-color: $blue;
	padding: 10px 15px;
	letter-spacing: 0.5px;
	font-weight: 500;
}

.donate-link:hover{
	color: $blue;
	background-color: $white;
	outline: 3px $blue solid;
}

h1{
	color: $white;
	font-size: 2.5em;
	font-family: $slab;
}

.banner-txt{
	color: $white;
	font-size: 1.3em;
	font-family: $slab;
	line-height: 2.5em;
}

.intro-txt{
	color: $black;
	font-size: 1.6em;
	font-family: $slab;
	line-height: 2.25em;
	text-align: center;
}

/* main content */

h2{
	color: $blue;
	font-size: 4em;
	font-family: $demi-compressed;
}

.section-txt{
	color: $black;
	font-size: 1.25em;
	font-family: $slab;
	font-style: italic;
	line-height: 1.75em;
}

.title-txt{
	color: $blue;
	font-size: 1.5em;
	font-family: $demi;
	font-weight: 500;
}

p{
	color: $black;
	font-size: 1em;
	font-family: $slab;
	line-height: 1.5em;
}

/* global bottom */

.global-txt{
	color: $white;
	font-size: 1.5em;
	font-color: $black;
	font-family: $slab;
	font-style: italic;
	text-align: center;
	
}

.global-button{
	color: $white;
	font-size: 1.75em;
	font-family: $demi-compressed;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	
}

/* voices */

.voices-title{
	color: $white;
	font-size: 1.25em;
	font-family: $demi;
	text-transform: uppercase;
	font-weight: 500;
}

.voices-txt{
	color: $white;
	font-size: 1em;
	font-family: $slab;
	line-height: 1.5em;
}



/* Footer */

.donate-button{
	color: $white;
	font-family: $demi;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	border: 3px solid $white;
	padding: 10px;
	text-decoration: none;
	font-weight: 500;
}

.donate-button:hover{
	color: $black;
	background-color: $white;
}

.footer-txt{
	color: $white;
	font-size: .75em;
	font-family: $demi;
	text-align: center;
	margin: 0;
	font-weight: 300;
}


/* Unique elements */

.date-txt{
	color: $black;
	font-size: 4em;
	font-family: $demi-compressed;
}
