/* nav, banner and intro */

.nav{
	color: $blue;
	font-size: 1em;
	font-family: $demi;
	border-top: solid .2em $blue;
	text-transform: uppercase;
}

h1{
	color: $black;
	font-size: 2.5em;
	font-family: $slab;
}

.banner-txt{
	color: $black;
	font-size: 1.3em;
	font-family: $slab;
	line-height: 2.5em;
}

.intro-txt{
	color: $black;
	font-size: 1.6em;
	font-family: $slab;
	line-height: 2.25em;
}

/* main content */

h2{
	color: $blue;
	font-size: 4em;
	font-family: $demi-compressed;
	border-top: solid .6em $blue;
}

.section-txt{
	color: $black;
	font-size: 1.25em;
	font-family: $slab-italic;
	line-height: 1.75em;
}

.title-txt{
	color: $blue;
	font-size: 1.5em;
	font-family: $demi;
}

p{
	color: $black;
	font-size: 1em;
	font-family: $slab;
	line-height: 1.5em;
}

/* global bottom */

.global-txt{
	color: $black;
	font-size: 1.5em;
	font-color: $black;
}

.buttons{
	color: $white;
	font-size: 1.5em;
	font-family: $demi-compressed;
}


.footer-txt{
	color: $black;
	font-size: .75em;
	font-family: $book;
	text-align: center;
}

/* voices */

.voices-title{
	color: $black;
	font-size: 1.25em;
	font-family: $demi;
}

.voices-txt{
	color: $white;
	font-size: 1em;
	font-family: $slab;
	line-height: 1.5em;
}
