@import "_partials/*";



.main-content{
	background-color: $white;
}

.content-section{
	margin: 4.3em 0 4.3em 0;
}

.connect-slides{
	width: 100%;
	height: 27.7em;
	
	img{
		width: 100%;
		height: 25em;
	}
}





