---
title: About PMVC
---

<div>
	
	<div class="banner">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">
		 		<h1 class="grid_12">Helping local veterans come together.</h1>
		 		<div class="rule push_4 grid_4"></div>
		 		<p class="banner-txt grid_12">By creating a safe and social environment through shared experience.</p>
		 	</div>
		</div>
	 	<%= image_tag("city.jpg", :alt => "city") %>
	</div>
	
		
	<div class="intro">
		<div class="container_12">
		<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star prefix_5 grid_2 suffix_5") %>
		<p class="intro-txt prefix_2 grid_8 suffix_2">PMVC is a local all-inclusive group formed by veterans for veterans&mdash;built on <em>community</em>, <em>conversation</em> and <em>connection</em>.</p>
		<div class="black-rule push_1 grid_10"></div>
		</div>
	</div>

	<div class="main-content container_12">
		<div class="content-section push_1 grid_8">
		<h2>MEET OUR TEAM</h2>
			<div class="push_2 grid_10">
			<p class="intro-txt">We hold a variety of events each month for veterans &amp; their friends and families.</p>
			<div class="connect-slides">
			
			</div>
			
			
		</div>
	</div>

</div>
