---
title: Portland Metro Veteran's Connection About
---

<div class="welcome">
  <h1>Middleman is Watching. Yep.</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/", class: "hello" %>
  </p><!-- .doc -->
</div><!-- .welcome -->