---
title: About PMVC
---

<div>
	
	<div class="banner">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">
		 		<h1 class="grid_12">Helping local veterans come together.</h1>
		 		<div class="rule push_4 grid_4"></div>
		 		<p class="banner-txt grid_12">By creating a safe and social environment through shared experience.</p>
		 	</div>
		</div>
	 	<%= image_tag("city.jpg", :alt => "city") %>
	</div>
	
		
	<div class="intro">
		<div class="container_12">

		<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star prefix_5 grid_2 suffix_5") %>
		<p class="intro-txt prefix_2 grid_8 suffix_2">Portland Metro Veterans Connection offers all veterans a venue built on the foundations of <em>community</em>, <em>activity</em> and <em>trust</em>.</p>

		<div class="black-rule push_1 grid_10"></div>
		</div>
	</div>
	<div class="container_12">
			<h2 class="prefix_1 grid_4 suffix_7">OUR MISSION</h2>
			<div class="section-txt push_3 grid_7">
				The Portland Metro Veterans Connection goal is to provide ongoing support
	and continued partnership opportunities for Metro area veterans of all eras. It
	is our mission to help veterans build and sustain lasting relationships by
	creating a safe and social environment for connecting to one another and
	sharing common experiences. We organize various events for local veterans
	and their friends and families that can act as a great first step towards
	reintegrating into the community and also are a great way to meet up with
	other vets and be active together.
			</div>
			<h2 class="prefix_1 grid_5 suffix_6">our team</h2>
			<h3 class="title-txt push_1 grid_4 suffix_7">DAVID DEDRICKSON</h3>
			<div class="section-txt push_1 grid_5 suffix_6">served as a member of the 82nd
	Airborne Division as an infantryman
	from 1973 to 1976, attaining the rank
	of Sergeant E-5.</div>
			<div class="prefix_1 grid_5 suffix_6"><p>David was hired as a Military Helpline Director
	with Oregon Partnership/Lines for Life. He was tasked with
	creating, promoting, and working on military specific
	resources and crisis for the state of Oregon.<br>
	He served as a resource manager, community
	outreach and crisis intervention specialist for that line
	as well as the Veteran Crisis Line</p></div>
			<div class="email-txt prefix_2 grid_3 suffix_7">ddedrickson@folktime.org</div>
			<h3 class="title-txt prefix_6 grid_5">PATTI JAY</h3>
			<div class="section-txt prefix_6 grid_5 suffix_1">served as an Aerospace Medical
Technician with the 142nd of theOregon Air National Guard from 1979-1986.</div>
			<div class="prefix_6 grid_5 suffix_1"><p>Patti Jay has 3 sons who keep her busy and
current! She works as a Peer Support Specialist for FolkTime and a Veteran Peer Support Specialist for
Portland Metro Veteran Connection. She is honored to be a part of an organization focusing
on keeping our veterans connected with each other in our community. She looks forward to meeting more folks and having fun in our city!</p></div>
			<div class="email-txt prefix_9 grid_3">pjay@folktime.org</div>
			
		
	</div>

</div>
