---
title: PMVC Events
---

<div>
	
	<div class="banner">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">
		 		<h1 class="">Socialize with like-minded individuals.</h1>
		 		<div class="rule push_4 grid_4"></div>
		 		<p class="banner-txt grid_12">Activities for Metro area veterans of all eras.</p>
		 	</div>
		 </div>


	 	<%= image_tag("bikers.jpg", :alt => "bikers") %>
	</div>
	
		
	<div class="intro">
		<div class="container_12">
		<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star prefix_5 grid_2 suffix_5") %>
		<p class="intro-txt prefix_2 grid_8 suffix_2">We hold a variety of events throughout the Portland Metro area for local veterans and their friends and family.</p>
		<div class="black-rule push_1 grid_10"></div>
	</div>
	</div>

	<div class="main-content container_12">

		<div class="content-section">
		<h2 class="prefix_1 grid_11">FEATURED EVENT</h2>
			<div class="date-txt prefix_1 grid_1 suffix_1">5.31</div>
			<div class="title-txt grid_4 suffix_1">PMVC Memorial Day BBQ</div>
			<div class="rsvp-button grid_2">RSVP</div>
			<p class="event-margin grid_7">11:00 AM to 3:00 PM at Lent Park<br> SE 92nd Ave & Holgate Blvd, Portland, OR</p>
			<p class="push_3 grid_7 black-rule event-margin">Come hangout with the Veteran's Connection on our day to honor our fellow service members. We provide the meats and fixings (vegetarian available too), the sodas, you bring bring your own chips.</p>
			<div class="seemore-txt event-margin push_3 grid_7 suffix_2">Want to see the full list of events?</div>
			<div class="rsvp-button event-margin push_3 grid_4"><a href="http://www.meetup.com/Portland-Metro-Veterans-Connection/">find us on meetup</a></div>
		</div>

</div>

