---
title: PMVC Events
---

<div>
	
	<div class="banner">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">
		 		<h1 class="">Socialize with like-minded individuals.</h1>
		 		<div class="rule push_4 grid_4"></div>
		 		<p class="banner-txt grid_12">Activities for Metro area veterans of all eras.</p>
		 	</div>
		 </div>
	</div>
	
		
	<div class="intro">
		<div class="container_12">
		<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star prefix_5 grid_2 suffix_5") %>
		<p class="intro-txt prefix_2 grid_8 suffix_2">We hold a variety of events throughout the Portland Metro area for local veterans and their friends and family.</p>
		<div class="black-rule push_1 grid_10"></div>
	</div>
	</div>

	<div class="container_12">

		<h2 class="prefix_1 grid_11">FEATURED EVENT</h2>
			<div class="date-txt prefix_1 grid_1 suffix_1">5.31</div>
			<h3 class="grid_4 suffix_1">PMVC Memorial Day BBQ</h3>
			<div class="rsvp-button grid_2">RSVP</div>
			<div class="prefix_3 grid_7 omega">11:00 AM to 3:00 PM at Lent Park<br> SE 92nd Ave & Holgate Blvd, Portland, OR</div>
			<div class="black-rule alpha push_3 grid_7"></div>
			<div class="push_3 grid_7">Come hangout with the Veteran's Connection on our day to honor our fellow service members. We provide the meats and fixings (vegetarian available too), the sodas, you bring your own chips.</div>	
			<div class="global-txt push_3 grid_7 omega">Want to see the full list of events?</div>
				
			<div class="rsvp">
			   	 	<%= link_to "find us on meet up", "http://www.meetup.com/Portland-Metro-Veterans-Connection/", class: "push_3 grid_4 rsvp-button alpha page-margin" %>
	
		    </div>
</div>

