---
title: PMVC Events
---

<div>
	<div class="banner banner-events">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">
		 		<h1 class="">Socialize with like-minded individuals.</h1>
		 		<div class="rule push_4 grid_4"></div>
		 		<p class="banner-txt grid_12">Activities for Metro area veterans of all eras.</p>
		 	</div>
		 </div>
	</div>
	<div class="star-wrapper">	
		<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star") %>
	</div>
		
	<div class="intro">
		<div class="container_12">
			<p class="intro-txt alpha push_2 grid_8 omega">We hold a variety of events throughout the Portland Metro area for local veterans and their friends and family.</p>
			<div class="black-rule alpha push_1 grid_10 omega"></div>
		</div>
	</div>

	<div class="container_12">

		<h2 class="alpha push_1 grid_7 omega">FEATURED EVENT</h2>
			<div class="date-txt alpha push_1 grid_1 suffix_2 cushycms-text">5.31</div>
			<div class="grid_8">
				<h3 class="alpha grid_7 omega cushycms-text">PMVC Memorial Day BBQ</h3>
				
				<div class="alpha grid_7 omega cushycms"><p>11:00 AM to 3:00 PM at Lent Park<br> SE 92nd Ave & Holgate Blvd, Portland, OR</p></div>
				<div class="alpha grid_8 cushycms-text"><p>Come hangout with the Veteran's Connection on our day to honor our fellow service members. We provide the meats and fixings (vegetarian available too), the sodas, you bring your own chips.</p>
				</div>	
			</div>
			
			<div class="global-txt push_3 grid_7 omega">Want to see the full list of events?</div>
				
			<div class="rsvp">
			   	 	<%= link_to "find us on meet up", "http://www.meetup.com/Portland-Metro-Veterans-Connection/", class: "alpha push_3 grid_4 rsvp-button alpha page-margin" %>
	
		    </div>
</div>

