---
title: PMVC Events
---

<div>
	
	<div class="banner">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">

		 		<h1 class="">Sociaize with like-minded individuals.</h1>
		 		<p class="banner-txt">Activities for Metro area veterans of all eras.</p>
		 	</div>
		 </div>


	 	<%= image_tag("city.jpg", :alt => "city") %>
	</div>
	
		
	<div class="intro container_12">

		<p class="intro-txt push_2 grid_8">We hold a variety of events throughout the
Portland Metro area for local veterans and their friends and family.</p>
	
	</div>

	<div class="main-content container_12">

		<div class="content-section">
		<h2 class="push_1 grid_8">FEATURED EVENT</h2>
		<p class="date-txt push_1 grid_8">5.31</p>
		<p class="title-txt push_3 grid_8 clearfix">PMVC Memorial Day BBQ</p>
		
	</div>

</div>

