---
title: Portland Metro Veteran's Connection
---

<div>
	
	<div class="banner">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">
		 		<%= image_tag("stay-connected.svg", :alt => "stay connected", class:"push_1 grid_10 tag") %>
		 		<p class="banner-txt grid_12">Supporting local veterans &amp; their friends and family.</p>
		 	</div>
		</div>
	 	<%= image_tag("city.jpg", :alt => "city") %>
	 	
	</div>
	 			
	<div class="intro">
		<div class="container_12">
			<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star prefix_5 grid_2 suffix_5") %>
			<p class="intro-txt prefix_2 grid_8 suffix_2">PMVC is a local all-inclusive group formed by veterans for veterans&mdash;built on <em>community</em>, <em>conversation</em> and <em>connection</em>.</p>
			<div class="black-rule push_1 grid_10"></div>
		</div>
	</div>

	<div class="main-content content-section container_12">
		<h2 class="prefix_1 grid_5 suffix_6">CONNECTING VETS</h2>
			<div class="intro-txt prefix_2 grid_9 suffix_1">
			We hold a variety of events each month for veterans &amp; their friends and families.
			</div>
			<div class="connect-slides">
			
			
			</div>
	</div>

</div>
