---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching CELESTIA MESS ALL THIS UP</h1>
  <p> julie si a bitch</p>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->