---
title: Portland Metro Veterans Connection
---

<div>
	
	<div class="banner-home">
		<div class="container_12">
		 	<div class="banner-box omega push_1 grid_10 omega">
		 		<%= image_tag("stay-connected.svg", :alt => "stay connected", class:"stay-connected") %>
		 		<p class="banner-txt grid_12">Supporting local veterans &amp; their friends and family.</p>
		 	</div>
		</div>
	 	
	</div>
	<div class="star-wrapper">	
		<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star") %>
	</div>			
	<div class="intro">
		<div class="container_12">
			<p class="intro-txt prefix_2 grid_8 suffix_2">PMVC is a local all-inclusive group formed by veterans for veterans&mdash;built on <em>community</em>, <em>conversation</em> and <em>connection</em>.</p>
			<div class="black-rule push_1 grid_10"></div>
		</div>
	</div>

	<div class="main-content content-section">
		<div class="container_12">
		<h2 class="prefix_1 grid_11"><span class="blue-bar">CONNECTING VETS</span></h2>
			<div class="connect-slides prefix_1 grid_10 suffix_1" id="slides">
				<div><p class="photoTag">ART SHOWS</p><img src="images/james.jpg" alt="wames Art Shot Photo"></div>
				<div><p class="photoTag">PEER-TO-PEER SUPPORT</p><img src="images/peer-to-peer.jpg" alt="Peer-to-peer Photo"></div>
				<div><p class="photoTag">BARBECUES</p><img src="images/Jeremy-Keith-veggies.jpg" alt="Jeremy Keith Veggies Photo"></div>
				<div><p class="photoTag">SPORTING EVENTS</p><img src="images/basketball.jpg" alt="Basketball Photo"></div>
			</div>
			
			<div class="intro-txt prefix_2 grid_8 suffix_2">
				We hold a variety of events each month for veterans &amp; their friends and families.
			</div>
			
			<div class="prefix_4 grid_4 suffix_4 page-margin">
				<div class="rsvp-button">VIEW OUR UPCOMING EVENT</div>
			</div>
			
		</div>
		
	</div>
	

</div>
