---
title: PMVC Get Involved
---

<div>
	<div class="banner banner-involved">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">
		 		<h1 class="grid_12">We depend on your generous contributions.</h1>
		 		<div class="rule push_4 grid_4"></div>
		 		<p class="banner-txt grid_12">We appreciate your involvement with PMVC.</p>
		 	</div>
		 </div>
	</div>
	<div class="star-wrapper">	
		<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star") %>
	</div>
		
	<div class="intro">
		<div class="container_12">
			<p class="intro-txt prefix_2 grid_8 suffix_2">We encourage giving to PMVC in three ways: a gift of your <em>time</em>, a gift of <em>money</em>, or a gift of a <em>wish list item</em>.</p>
		<div class="black-rule push_1 grid_10"></div>
		</div>
	</div>
	
		<div class="container_12">
			<h2 class="alpha push_1 grid_11">VOLUNTEER WITH US</h2>
				<div class="section-txt prefix_1 grid_6">
				We are always looking for more help connecting local veterans! If you would like to get involved with us, here's what we need:
				</div>
				
				
				


				<div class="grid_4 omega">
					<form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
				    action="https://pmvc.wufoo.com/forms/zk9mz940bjepjn/#public">
					  				
					<ul>
					<li id="foli12" class="notranslate section-txt-blue form-box grid_6 float">
					<div>
						<input Placeholder="Name" id="Field12" name="Field12" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required />
					</div>
					</li><li id="foli13" class="notranslate section-txt-blue form-box grid_6 omega float">
					<div>
						<input Placeholder="Email" id="Field13" name="Field13" type="text" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup="" required />
					</div>
						</li><li id="foli14" class="notranslate section-txt-blue form-box grid_6 float">
					<div>
						<input Placeholder="Address" id="Field14" name="Field14" type="text" class="field text medium" value="" maxlength="255" tabindex="3" onkeyup="" required />
					</div>
						</li><li id="foli15" class="notranslate section-txt-blue form-box grid_6 float">
						<label class="desc " id="title15" for="Field15">
					<div>
						<input Placeholder="Phone" id="Field15" name="Field15" type="text" class="field text nospin medium"  value="" tabindex="4" onkeyup="" required />
					</div>
					</li>
					<li class="buttons ">
					<div>
						<input id="saveForm" name="saveForm" class="btTxt submit submit-button form-box push_6 grid_6 omega float" type="submit" value="Submit"/></div>
					</li>
					<li class="hide">
						<input type="hidden" id="idstamp" name="idstamp" value="CDqV62kDzQ1OVp/+3tS9H2v1l2SREcM4jtaaoHE7vvo=" />
					</li>
					</ul>
					</form> 
				</div>	
		
			<h2 class="alpha push_1 grid_11">DONATE MONEY</h2>
				<div class="section-txt prefix_1 grid_6 suffix_1"> 
				Want to help us do what we do? We rely on contributions from the community to connect and help our veterans and their friends and family! We would love your generous support!
				</div>
				<div class="section-txt grid_4">
				You may also send a check to:
				</div>
				<div class="section-txt-blue grid_4">
				4837 NE Couch St<br>Portland, OR 97213
				</div>
				<div class="section-txt prefix_1 grid_4">
				Call to make a gift by phone
				</div>
				<div class="section-txt-blue prefix_8 grid_4">
				(503)238-6428
				</div>
				<div class="rsvp-button push_1 grid_2 omega">
				PMVC Paypal
				</div>
			<h2 class="alpha push_1 grid_11">OUR WISHLIST</h2>
			<div class="section-txt prefix_1 grid_6">
			We have a list of specific items we would love to have for our events! </div>
			<div class="section-txt prefix_1 grid_6 omega"><em>Sports equipment (basketballs, footballs, frisbees, fishing gear) board games, books, painting supplies.</em></div>
			<div class="black-rule alpha push_1 grid_6"></div>
			<div class="section-txt page-margin prefix_1 grid_6 omega">
Have an item you would like to give? Contact us directly at info@pmvc.com.
			</div>
		</div>

</div>