<div>
	
	<div class="banner">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">
		 		<h1 class="grid_12">We depend on your generous contributions</h1>
		 		<div class="rule push_4 grid_4"></div>
		 		<p class="banner-txt grid_12">We appreciate your involvement with PMVC</p>
		 	</div>
		 </div>
	 	<%= image_tag("city.jpg", :alt => "city") %>
	</div>
	
		
	<div class="intro container_12">
		<p class="intro-txt push_2 grid_8">We encourage giving to PMVC in three ways: a gift of your time, a gift of money, or a gift of a wish list item.</p>
	
	</div>

	<div class="main-content container_12">
		<div class="content-section">
		<h2 class="push_1 grid_8">VOLUNTEER WITH US</h2>
			<p class="section-txt push_2 grid_8">We are always looking for more help connecting local veterans! If you would like to get involved with us, here's what we need:</p>
		
		<h2 class="push_1 grid_8">DONATE MONEY</h2>
			<p class="section-txt push_2 grid_8"> Want to help us do what we do? We rely on contributions from the community to connect and help our veterans and their friends and family! We would love your generous support!
			</p>
		<h2 class="push_1 grid_8">OUR WISHLIST</h2>
		<p class="section-txt push_2 grid_8">We have a list of specific items we would love to have for our events! Have an item you would like to give? Contact us directly at info@pmvc.com.</p>
		<p class="footer-txt push_2 grid_8">Sports equipment (basketballs, footballs, frisbees, fishing gear)<br>Board games, books, painting supplies</p>
	</div>

</div>