<div>
	
	<div class="banner">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">
		 		<h1 class="grid_12">We depend on your generous contributions.</h1>
		 		<div class="rule push_4 grid_4"></div>
		 		<p class="banner-txt grid_12">We appreciate your involvement with PMVC.</p>
		 	</div>
		 </div>
	 	<%= image_tag("city.jpg", :alt => "city") %>
	</div>
	<div class="star-wrapper">	
		<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star") %>
	</div>
		
	<div class="intro">
		<div class="container_12">
			<p class="intro-txt prefix_2 grid_8 suffix_2">We encourage giving to PMVC in three ways: a gift of your <em>time</em>, a gift of <em>money</em>, or a gift of a <em>wish list item</em>.</p>
		<div class="black-rule push_1 grid_10"></div>
		</div>
	</div>
	
		<div class="container_12">
			<h2 class="alpha push_1 grid_11">VOLUNTEER WITH US</h2>
				<div class="section-txt prefix_1 grid_6">
				We are always looking for more help connecting local veterans! If you would like to get involved with us, here's what we need:
				</div>
				<div>
					<form name="input" action="demo_form_action.asp" method="get">
					<div class="grid_2"><input type="text" name="name" value="name" class="form-value form-box"></div>
					<div class="grid_2"><input type="text" name="email" value="email" class="form-value form-box"></div>
					<div class="grid_2"><input type="text" name="address" value="address" class="form-value form-box"></div>
					<div class="grid_2"><input type="text" name="phone" value="phone" class="form-value form-box"></div>
					<div class="prefix_10 grid_2 omega"><input type="submit" value="Send" class="rsvp-button"></div>
					</form> 
				</div>
			
			<h2 class="alpha push_1 grid_11">DONATE MONEY</h2>
				<div class="section-txt prefix_1 grid_6 suffix_1"> 
				Want to help us do what we do? We rely on contributions from the community to connect and help our veterans and their friends and family! We would love your generous support!
				</div>
				<div class="section-txt grid_4">
				You may also send a check to:
				</div>
				<div class="section-txt-blue grid_4">
				4837 NE Couch St<br>Portland, OR 97213
				</div>
				<div class="section-txt grid_4">
				Call to make a gift by phone
				</div>
				<div class="section-txt-blue prefix_8 grid_4">
				(503)238-6428
				</div>
				<div class="rsvp-button push_1 grid_2 omega">
				PMVC Paypal
				</div>
			<h2 class="alpha push_1 grid_11">OUR WISHLIST</h2>
			<div class="section-txt prefix_1 grid_6">
			We have a list of specific items we would love to have for our events! Have an item you would like to give? Contact us directly at info@pmvc.com.
			</div>
			<div class="black-rule alpha push_1 grid_8"></div>
			<div class="section-txt prefix_1 grid_6 omega">
			Sports equipment (basketballs, footballs, frisbees, fishing gear) board games, books, painting supplies
			</div>
		</div>

</div>