<div>
	
	<div class="banner">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">
		 		<h1 class="grid_12">Providing veterans with peer-support.</h1>
		 		<div class="rule push_4 grid_4"></div>
		 		<p class="banner-txt grid_12">We have a wide variety of resources for local veterans.</p>
		 	</div>
		</div>
		 	<%= image_tag("city.jpg", :alt => "city") %>
	</div>
			
		<div class="intro">
			<div class="container_12">
			<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star prefix_5 grid_2 suffix_5") %>
			<p class="intro-txt prefix_2 grid_8 suffix_2">We have many resources and partners that can offer support to our veterans &amp; their friends and family.</p>
			<div class="black-rule push_1 grid_10"></div>
			</div>
		</div>
	
		<div class="container_12">
			<h2 class="prefix_1 grid_3 suffix_9">RESOURCES</h2>
				<ul class="section-txt prefix_2 grid_8">
				<li>County Veteran Service Officers</li>
				<li>CRRC</li>
				<li>Vet Center</li>
				<li>Oregon National Guard</li>
				<li>Oregon Department of Veteran Affairs</li>
				</ul>
			
			<h2 class="prefix_1 grid_11">PARTNERS</h2>
				<ul class="section-txt push_2 grid_8">
				<li>Folktime</li>
				<li>(more partners to come)</li>
				</ul>
		</div>
</div>