<div>
<div class="container_12">
	<div class="push_1 grid_10">
		<div class="style-box">
			<h1> This is an h1 header</h1>
		</div>
		<div class="style-box">
			<p class="banner-txt">This is banner text</p>
		</div>
		<p class="intro-txt">Intro-txt</p>
		
		<h2> This is an h2 header</h2>

		<p class="title-txt"> THIS IS TITLE-TXT</h2>
		
		
		<p class="prefix_1 grid_5"> (Default paragraph) Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p class="grid_5 suffix_1"> (Default paragraph copy) Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p class="intro-txt prefix_2 grid_8 suffix_2"> (Blockquote) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p class="prefix_1 grid_10 suffix_1 section-txt"> (Section-txt, Large paragraph) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p class="prefix_1 grid_5 suffix_6">
		<strong>This is bold.</strong>
		<em>This is italic.</em>
		<span style="text-decoration: underline;">This is underlined</span>
		<a href="#">link</a>
		</p>
		<div class="prefix_1 grid_5">
			<p> This is an ordered list.</p>
			<ol>
			<li> Item 1</li>
			<li> Item 2</li>
			<li> Item 3</li>
			</ol>
		</div>
		<div class="grid_5 suffix_1">
			<p> This is an unordered list</p>
			<ul>
			<li> Item 1</li>
			<li> Item 2</li>
			<li> Item 3</li>
			</ul>
		</div>
		<div class="prefix_1 grid_10">
			<p> Horizontal Rule here:</p>
			<div class="black-rule">
			</div>
			<p> Yep, that's our style guide</p>
		</div>
	</div>
</div>