<div>
<div class="container_12">
	<div class="alpha push_1 grid_10 omega">
		<div class="style-box">
			<h1> This is an h1 header</h1>
		</div>
		<div class="style-box">
			<div class="banner-txt">This is banner text</div>
		</div>
		<div class="intro-txt alpha push_2 grid_8 omega"> Intro-txt<br>(Blockquote) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		
		<h2 class="alpha push_1 grid_8 omega"> This is an h2 header</h2>
		
		<div class="alpha push_1 grid_5">
			<p> (Default paragraph) Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<p class="prefix_1 grid_5 omega"> (Default paragraph copy) Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<div class="alpha push_1 grid_10 omega section-txt"> (Section-txt, Large paragraph) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div> <div class="alpha push_1 grid_10 omega section-txt-blue">(section-txt-blue) Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		
		<div class="alpha push_1 grid_5 omega">
		<p>
		<strong>This is bold.</strong>
		<em>This is italic.</em>
		<span style="text-decoration: underline;">This is underlined</span>
		<a href="#">link</a>
		</p>
		</div>
		
		<div class="style-box alpha push_1 grid_8">
			<div class="voices-txt prefix_1 grid_7 omega">
		voices-txt with style-box around it
			</div>
		</div>
		
		<div class="alpha push_1 grid_5">
			<p> This is an ordered list.</p>
			<ol>
			<li> Item 1</li>
			<li> Item 2</li>
			<li> Item 3</li>
			</ol>
		</div>
		<div class="grid_5 omega">
			<p> This is an unordered list</p>
			<ul>
			<li> Item 1</li>
			<li> Item 2</li>
			<li> Item 3</li>
			</ul>
		</div>
				
		<div class="date-txt alpha push_1 grid_5 omega">
		Date text 6/6/6
		</div>
		
		<div class="email-txt alpha push_1 grid_4 omega">
		Email text
		</div>
		
		<p class="alpha push_1 grid_2 omega">Buttons:</p>
		<div class="donate-button alpha push_1 grid_4">
		donate button
		</div>
		<div class="rsvp-button push_1 grid_4">
		rsvp button
		</div>
		
		<div class="alpha push_1 grid_10 omega">
			<p> Horizontal Rule here:</p>
			<div class="black-rule">
		</div>
		
		<div class="page-margin alpha push_1 grid_6 omega">
			<p> Yep, that's our style guide</p>
		
		</div>
		
	</div>
</div>