<div class="container_12">
<div class="push_1 grid_10">
<h1> This is a h1 header</h1>
<h2> This is a h2 header</h2>
<p class="prefix_1 grid_5"> (Default paragraph copy) Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p class="grid_5 suffix_1"> (Default paragraph copy) Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p class="intro-txt prefix_2 grid_8 suffix_2"> (Blockquote) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p class="prefix_1 grid_10 suffix_1"> (Default paragraph copy) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>
<strong>This is bold.</strong>
<em>This is italic.</em>
<span style="text-decoration: underline;">This is underlined</span>
<a href="#">link</a>
</p>
<p> This is an ordered list.</p>
<ol>
<li> Item 1</li>
<li> Item 2</li>
<li> Item 3</li>
</ol>
<p> Horizontal Rule here:</p>
<div class="black-rule">
</div>
<p>  </p>
<p> This is an unordered list</p>
<ul>
<li> Item 1</li>
<li> Item 2</li>
<li> Item 3</li>
</ul>
</div>
</div>