---
title: PMVC Web Guide
---
<div>
	<div class="container_12">
		<div class="style-box alpha push_1 grid_11 omega">
		<h1 class="prefix_2">PMVC Web Guide</h1>
		</div>
		
		<div class="alpha push_1 grid_8 omega">
		<h2>A Style Guide of the fonts</h2>
		</div>
		<div class="alpha push_1 grid_1 omega">
		<%= link_to "style", "/styleguide.html", class: "nav-link" %>
		</div>
		<div class="alpha push_1 grid_4 omega">
		<h2>CushyCMS</h2></div>
		<div class="section-txt alpha push_1 grid_6 omega">
		CushyCMS is your <em>content management system</em>.
		With CushyCMS, you will be able to fill out the details for your next event. You will be able to enter the date and location in one field, and in another field you can insert a brief description of the event.<br>
		<ol>
		<li>Visit  <%= link_to "CushyCMS", "https://www.cushycms.com", class: "nav-link" %></li>
		<li>Click on the Login button and enter the email account associated with the PMVC website.<br><em>We encourage you to update the user preferences with your own email and login info</em>, but we have temporarily provided you with the following. username: celestiagrace@gmail.com password: veteransconnection</li>
		<li></li>
		</ol>
		</div>
		<div class="alpha push_1 grid_4 omega">
		<h2>Wufoo</h2></div>
		<div class="section-txt alpha push_1 grid_6 omega">
		Wufoo is your <em>form manager</em>.
		With Wufoo, you will be able to see all of the information that has been sent from the volunteer form (on the Get Involved page).<br>
		<ol>
		<li>Visit  <%= link_to "Wufoo", "https://www.wufoo.com", class: "nav-link" %></li>
		<li>Click on the Login button and enter the email account associated with the PMVC website.<br><em>We encourage you to update the user preferences with your own email and login info</em>, but we have temporarily provided you with the following. username: celestiagrace@gmail.com password: veteransconnection</li>
		<li></li>
		</ol>
		</div>
		
	</div>

</div>



