---
title: PMVC Web Guide
---
<div>
	<div class="container_12">
		<div class="style-box grid_12">
		<h1 class="alpha push_4 grid_4 suffix_4">PMVC Web Guide</h1>
			<div class="prefix_2 grid_8 omega banner-txt">A guide to editing content for the PMVC website and collecting information from the form.
			</div>
		</div>
		
		<div class="alpha push_1 grid_8 omega">
		<h2>A Style Guide of the fonts</h2>
		</div>
		<div class="section-txt alpha push_1 grid_6 omega">
		This style guide will show you the class names of all the font styles and where it is appropriate to use each style on the website.<br>
		<%= link_to "style guide", "/styleguide.html", class: "" %>
		</div>
		
		<div class="alpha push_1 grid_8 omega">
		<h2>Typekit</h2>
		</div>
		<div class="section-txt alpha push_1 grid_6 omega">
		Your website is able to use fonts associated with your brand because it is connected to <em>Typekit</em>. In order to continue using these fonts, you must pay for a subscription to Typekit.<br>
		<ol>
		<li>Visit <%= link_to "Typekit", "http://typekit.com", :target => "_blank", class: "" %></li>
		<li>At the nav bar at the top of the page, click "Sign In" and enter the email address and password associated with PMVC. Then in your account preferences, change your plan to <em>"Personal."</em></li>
		</ol>
		<strong>Now you need to create a kit for the PMVC website to use the fonts for the website.</strong>
		<ol>
		<li>The fonts you will need are <em>Museo slab, Franklin Gothic URW,</em> and <em>Franklin Gothic URW Compressed</em>.</li>
		<li>In the Typekit website, under Browse fonts, search for those fonts.</li>
		<li>When you find the right one, click on it, and in the pop-up window click on the "web" tab.</li>
		<li>Click "create a new kit," and then follow the instructions in the pop-up window.</li>
		<li>After you have created this kit, make sure to go back and add the other fonts to the kit.</li>
		<li>Make sure that for each of the fonts, you check these weights:</li>
		<em>Museo Slab:</em> 300, 300 italic, 500, 500 italic, 700, 700 italic<br>
		<em>Franklin Gothic URW:</em> Book, Medium<br>
		<em>Franklin Gothic URW Compressed:</em> Book, Demi
		<li>Now the fonts will appear on the PMVC website!</li>
		</ol>

		
		</div>
		
		<div class="alpha push_1 grid_4 omega">
		<h2>CushyCMS</h2></div>
		<div class="section-txt alpha push_1 grid_6 omega">
		CushyCMS is your <em>content management system</em>.
		With CushyCMS, you will be able to fill out the details for your next event. You will be able to enter the date and location in one field, and in another field you can insert a brief description of the event.<br>
		<ol>
		<li>Visit  <%= link_to "CushyCMS", "https://www.cushycms.com", :target => "_blank", class: "" %></li>
		<li>Click on the Login button and enter the email account associated with the PMVC website.<strong>We encourage you to update the account preferences with your own email and login info</strong>, but we have temporarily provided you with the following. username: celestiagrace@gmail.com<br>password: veteransconnection</li>
		<li>You can change this email by clicking on "Portland Metro Veterans Connection," clicking "Preferences," and then updating the information.</li>
		</ol>
		<strong>To update the event information using CushyCMS:</strong>
		<ol>
		<li>Click on "Control Panel"</li>
		<li>Under "Sites and Pages," click on "Event"</li>
		<li>In the first box you will enter the month and day of the event.<strong>Please enter this using the convention of month(period)day, <em>for example</em> 6.21</strong></li>
		<li>The second field is where you will enter the time and location of your event.<em>You can use the buttons to style this information and make parts bold, italic, etc.</em></li>
		<li>The third field is where you will enter a short description of the event. 
		<em>This cannot be styled.</em></li>
		<li>When you are finished filling out these sections, click "Publish Queue" and the changes will become live on the website.</li>
		</ol>
		</div>
		<div class="alpha push_1 grid_4 omega">
		<h2>Wufoo</h2></div>
		<div class="section-txt alpha push_1 grid_6 omega page-margin">
		Wufoo is your <em>form manager</em>.
		With Wufoo, you will be able to see all of the information that has been sent from the volunteer form (on the Get Involved page).<br>
		<ol>
		<li>Visit  <%= link_to "Wufoo", "https://www.wufoo.com", :target => "_blank", class: "" %></li>
		<li>Click on the Login button and enter the email account associated with the PMVC website.<strong>We encourage you to update with your own email and login info by clicking the "users" button,</strong> but we have temporarily provided you with the following. username: celestiagrace@gmail.com<br>password: veteransconnection</li>
		</ol>
		<strong>To view entries that visitors have submitted:</strong>
		<ol>
		<li>Click on "PMVC Contact Form" </li>
		<li>You will be directed to a page which displays all of the entries gathered from the form.</li>
		<li>Click on any of the entries under "Recent Entries" to view the information from that entry in full.</li>
		</ol>
		</div>
		
	</div>

</div>



